<ul class="tabs">
	<li data-tab="content" class="current"><i class="icon-list"></i> Content</li>
	<li data-tab="structure"><i class="icon-database"></i> Structure</li>
  <li data-tab="sql"><i class="icon-code"></i> SQL</li>
	<li data-tab="options">&nbsp;<i class="icon-cog"></i>&nbsp;</li>
</ul>

<ul class="panes">
	<li id="table_content" class="current" data-tab="content">

	</li>
	<li id="table_structure" data-tab="structure">

	</li>
  <li id="table_sql" data-tab="sql">

  </li>
  <li id="table_options" data-tab="options">

  </li>
</ul>