<div class="table-content">
	{{#if show_actions}}
		<div class="table-content-actions actions clear-fix">
			<button class="button button-small insert-row"><i class="icon-plus-circled"></i> Insert row</button>
			<div class="section-divide"></div>
			<div class="styled-select small">
				<select id="filter-select">
					{{#columns}}
						<option value="{{ name }}">{{ name }}</option>
					{{/columns}}
				</select>
			</div>
			<input type="text" class="small search-field" id="filter-field" />
			<button class="button button-small"><i class="icon-search"></i> Search</i></button>
		</div>
	{{/if}}

	<div id="table-content-results">
		
	</div>
</div>