
.login-wrap{
	width: 400px;
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 3px 15px rgba(0,0,0,.2);
	margin: 80px auto 0px auto;
}

.login-wrap .head{
	padding: 20px;
	border-bottom: solid 1px #ddd;
}

.head h2{
	padding: 0px;
	margin: 0px;
	line-height: 30px;
	height: 30px;
}

.head h2 i{
	padding: 0px;
	margin: 0px;
	height: 30px;
	
	line-height: 30px;
	padding-top: 4px;
	float: right;

	color: #ddd;
	text-shadow: -1px -1px 0px #ccc;
}

.login-wrap .body{
	padding: 20px;
}
