
/*
#
# Contains any css for the table view including structure and content, indexes etc
#
*/

.actions{
  padding: 10px 0px;
}

.actions .section-divide{
  margin: 0px 15px;
  width: 1px;
  background-color: #ccc;
  float: left;
  height: 28px;
}

.add-index{
  display: none;
}

.selected-column{
  float: left;
  padding: 5px;
  font-size: 12px;
  background-color: #eee;
  border: solid 1px #ddd;
  margin: 0px 5px 5px 0px;
  border-radius: 3px;
}

.table-content-actions{
  background-color: #eee;
  border-bottom: solid 1px #ddd;
  padding: 10px;
}

.table-content-actions button{
  float: left;
}

#filter{
  width: 300px;
  float: left;
  border-right: 0;
}

#filter + .button{
  border-radius: 0px 2px 2px 0px;
  border-left: 0;
}

.no-rows{
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: #BBB;
  text-shadow: 0px -1px 0px #fff;
  font-weight: 300;
}


.table-content a.active-asc{
  color: #2980B9;
}
.table-content a.active-asc:after{
  content: '\25be';
  margin-left: 5px;
  font-size: 16px;
}

.table-content a.active-desc{
  color: #2980B9; 
}
.table-content a.active-desc:after{
  content: '\25b4';
  margin-left: 5px;
  font-size: 16px;
}



/*
#
# Table options sections
#
*/

.options-column{
  padding: 10px 0px 0px 0px;
  margin: 0px 20px 0px 0px;
  float: left;
  width: 400px;
}

.options-column-small{
  width: 300px;
}

.options-section{
  border-radius: 3px;
  background-color: rgba(255,255,255,.5);
  border: solid 1px #ddd;
  border-bottom: solid 2px #ddd;
  margin: 0px 0px 20px 0px;
}

.options-section .head{
  padding: 20px;
  border-bottom: solid 1px #ddd;
}

.options-section .body{
  padding: 20px;
}

.options-secion .body .divide{
  border-bottom: solid 1px #ddd;
}



/*
#
# Table sql
#
*/
#result-content .table-content{
  padding-top: 10px;
  margin-top: 10px;
  border-top: solid 2px #ddd;
}