<!-- Addon scripts -->
{{ assets.add_script('addons/handlebars') }}
{{ assets.add_script('addons/mootools') }}
{{ assets.add_script('addons/mootools.fx.slide') }}
{{ assets.add_script('addons/mootools.drag') }}

{{ assets.add_scripts('addons/ace') }}

<!-- DB Schema styles -->
{{ assets.add_styles('') }}
{{ assets.add_styles('db_schema') }}

<!-- Add all our classes and crack scripts -->
{{ assets.add_scripts('') }}

<!-- Templates -->
{{ handlebars.add_templates('templates') }}


<div id="app">

</div>