<!-- Addon scripts -->
{{ assets.add_script('addons/handlebars') }}
{{ assets.add_script('addons/mootools') }}
{{ assets.add_script('addons/mootools.fx.slide') }}
{{ assets.add_script('addons/mootools.drag') }}

{{ assets.add_scripts('addons/ace') }}

<!-- DB Schema styles -->
{{ assets.add_styles('crack/db_schema') }}

<!-- DB Schema and crack core scripts -->
{{ assets.add_scripts('crack') }}
{{ assets.add_scripts('crack/db_schema') }}

<!-- Templates -->
{{ handlebars.add_template('crack/templates/tables') }}
{{ handlebars.add_template('crack/templates/table') }}
{{ handlebars.add_template('crack/templates/table_structure') }}
{{ handlebars.add_template('crack/templates/table_content') }}
{{ handlebars.add_template('crack/templates/table_row') }}
{{ handlebars.add_template('crack/templates/table_options') }}
{{ handlebars.add_template('crack/templates/table_sql') }}
{{ handlebars.add_template('crack/templates/database_home') }}
{{ handlebars.add_template('crack/templates/edit_column') }}
{{ handlebars.add_template('crack/templates/index_form') }}
{{ handlebars.add_template('crack/templates/row_form') }}
{{ handlebars.add_template('crack/templates/database_list') }}
{{ handlebars.add_template('crack/templates/db_schema') }}
{{ handlebars.add_template('crack/templates/db_options') }}
{{ handlebars.add_template('crack/templates/alert') }}
{{ handlebars.add_template('crack/templates/top_bar_controls') }}

{{ handlebars.add_template('crack/templates/users') }}
{{ handlebars.add_template('crack/templates/user') }}
{{ handlebars.add_template('crack/templates/user_global') }}
{{ handlebars.add_template('crack/templates/user_specific') }}
{{ handlebars.add_template('crack/templates/global_privileges_form') }}
{{ handlebars.add_template('crack/templates/privileges_form') }}
{{ handlebars.add_template('crack/templates/add_database_form') }}
{{ handlebars.add_template('crack/templates/add_user_form') }}
{{ handlebars.add_template('crack/templates/user_options_form') }}

{{ handlebars.add_template('crack/templates/db_users') }}
{{ handlebars.add_template('crack/templates/db_login') }}
{{ handlebars.add_template('crack/templates/dashboard') }}
{{ handlebars.add_template('crack/templates/db_database') }}

<div id="app">

</div>