.top-bar{
  height: 30px;
  line-height: 40px;
  padding: 5px 10px;
  border-bottom: solid 2px rgba(0,0,0,.3);
  background-color: #3498DB;
  color: #fff;
}

.top-bar .logo{
  float: left;
  cursor: pointer;
  height: 30px;
  line-height: 30px;
  padding: 0px 0px 0px 35px;
  background: url('../../images/cabin.png') 0% 0% no-repeat;

  transition: text-shadow 200ms;
  -o-transition: text-shadow 200ms;
  -moz-transition: text-shadow 200ms;
  -webkit-transition: text-shadow 200ms;
}

.top-bar .logo:hover{
  text-shadow: 0px 0px 5px rgba(255,255,255,.5);
}

.top-bar .right{
  float: right;
  height: 30px;
}

/* 
#
# Button styles 
#
*/
.right .button-wrap button{
  margin: 0px;
  float: left;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
}

.right .button-wrap button.active{
  box-shadow: inset 0px 0px 8px rgba(0,0,0,.1);
  background-color: #2f89c5;
}

.right .button-wrap button:first-of-type{
  margin: 0px 0px 0px 10px;
  border-radius: 3px 0px 0px 3px;
}

.right .button-wrap button:last-of-type{
  border-left: 0px;
  border-radius: 0px 3px 3px 0px;
}



/* 
#
# Dropdown styles 
#
*/
.right .db-dropdown{
  float: left;
  position: relative;
  height: 30px;
  line-height: 30px;
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  z-index: 100;
}

.db-dropdown .value{
  cursor: pointer;
  padding-left: 15px;
  border-radius: 3px;
}

.db-dropdown .db-name-label:hover{
  color: rgba(255,255,255,.6);
}

.db-dropdown .options{
  position: absolute;
  top: 32px;
  right: 0px;
  width: 150px;
  padding: 3px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0px 1px 10px rgba(0,0,0,.1);
  border: solid 1px #ccc;
  color: #555;
  display: none;
}

.db-dropdown .dropdown-toggle{
  height: 23px;
  padding-top: 7px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  display: block;
  float: right;
  border-radius: 3px;
  margin: 0px 0px 0px 10px;
}

.db-dropdown .dropdown-toggle:hover{
  background-color: rgba(0,0,0,.1);
}

.db-dropdown .dropdown-toggle i{
  height: 15px;
}

.db-dropdown .options.open{
  display: block;
}

.db-dropdown .options div{
  padding: 0px 10px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-bottom: solid 1px #eee;
  cursor: pointer;
}

.db-dropdown .options div:hover{
  background-color: #eee;
}

.db-dropdown .options div:last-of-type{
  border-bottom: 0;
}